@charset "UTF-8"; 
@import url(https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{font-size: 62.5%;}
body {
	line-height: 1;
    font-family: 'SUIT', "Noto Sans KR", '맑은고딕', 'Malgun Gothic', sans-serif;
    letter-spacing: -.1rem;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* //reset */

.wrapper{
    padding: 2rem 8rem;
    min-height: 100vh;
    background: #f7f7f7;
    box-sizing: border-box;
}

header{
    padding: 1.2rem 0;
}
header h1{
    font-size: 2.8rem;
    font-weight: 800;
}

.container{
    padding: 2rem;
    border-radius: 1.8rem;
    background: #fff;
}

.container h2{
    display: flex;
    align-items: center;
    gap: .8rem;
    padding-top: 2.4rem;
}
.container section:first-of-type h2{padding-top: 0;}
.container h2+div{padding-top: .8rem;}
.container span{
    font-size: 1.6rem;
    background: #e6e6e6;
    padding: .4rem .8rem;
    border-radius: 1.2rem;
}
.container dl{
    padding: 2rem 0;
    border-bottom: 1px solid #e6e6e6;
}
.container dl:first-of-type{padding-top: 0;}
.container dl dt{
    font-size: 2rem;
    font-weight: 600;
    padding: .8rem 0;
}
.container dl dd{
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .6rem;
    background: #f7f7f7;
    border-bottom: 1px solid #e6e6e6;
}
.container dl dd:last-of-type{border-bottom-width: 0;}
.container dl dd p,
.container dl dd a{font-size: 1.6rem;}
.container dl dd a::before{
    content: ': ';
}

@media screen and (max-width: 720px) {
    *{font-size: 60%;}
    .wrapper{padding: 2rem;}
}